/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:fef75b11c68ae5c2495366e315d7f24e$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(iso3166-1-249.png);}

.AD {width:155px; height:99px; background-position: -2px -1399px}
.AE {width:195px; height:93px; background-position: -2px -2px}
.AF {width:155px; height:97px; background-position: -944px -582px}
.AG {width:155px; height:97px; background-position: -787px -582px}
.AI {width:155px; height:93px; background-position: -1415px -1658px}
.AL {width:155px; height:98px; background-position: -630px -582px}
.AM {width:155px; height:99px; background-position: -159px -1095px}
.AO {width:155px; height:99px; background-position: -159px -994px}
.AQ {width:155px; height:93px; background-position: -1572px -1563px}
.AR {width:155px; height:97px; background-position: -787px -1473px}
.AS {width:156px; height:93px; background-position: -1749px -287px}
.AT {width:155px; height:97px; background-position: -787px -1374px}
.AU {width:161px; height:93px; background-position: -1406px -2px}
.AW {width:155px; height:98px; background-position: -473px -582px}
.AX {width:155px; height:93px; background-position: -1415px -1563px}
.AZ {width:155px; height:98px; background-position: -1886px -482px}
.BA {width:155px; height:98px; background-position: -1729px -482px}
.BB {width:155px; height:97px; background-position: -787px -1275px}
.BD {width:155px; height:95px; background-position: -1729px -1466px}
.BE {width:155px; height:97px; background-position: -787px -1176px}
.BF {width:155px; height:95px; background-position: -1572px -1466px}
.BG {width:155px; height:96px; background-position: -1101px -1860px}
.BH {width:155px; height:97px; background-position: -787px -1077px}
.BI {width:155px; height:96px; background-position: -1101px -1762px}
.BJ {width:155px; height:97px; background-position: -787px -978px}
.BL {width:156px; height:93px; background-position: -1591px -287px}
.BM {width:155px; height:97px; background-position: -1886px -879px}
.BN {width:155px; height:98px; background-position: -1572px -482px}
.BO {width:155px; height:99px; background-position: -159px -893px}
.BQ {width:155px; height:96px; background-position: -1101px -1664px}
.BR {width:155px; height:97px; background-position: -1729px -879px}
.BS {width:155px; height:100px; background-position: -2px -1297px}
.BT {width:155px; height:97px; background-position: -1572px -879px}
.BV {width:159px; height:93px; background-position: -159px -192px}
.BW {width:155px; height:98px; background-position: -1415px -482px}
.BY {width:168px; height:93px; background-position: -747px -2px}
.BZ {width:155px; height:98px; background-position: -1258px -482px}
.CA {width:155px; height:97px; background-position: -1415px -879px}
.CC {width:155px; height:100px; background-position: -2px -1195px}
.CD {width:155px; height:96px; background-position: -1101px -1566px}
.CF {width:155px; height:99px; background-position: -159px -792px}
.CG {width:155px; height:97px; background-position: -1258px -879px}
.CH {width:155px; height:97px; background-position: -1101px -879px}
.CI {width:161px; height:93px; background-position: -1243px -2px}
.CK {width:160px; height:93px; background-position: -1569px -2px}
.CL {width:155px; height:97px; background-position: -944px -879px}
.CM {width:155px; height:95px; background-position: -1415px -1466px}
.CN {width:155px; height:96px; background-position: -1101px -1468px}
.CO {width:155px; height:95px; background-position: -1258px -1951px}
.CR {width:155px; height:97px; background-position: -787px -879px}
.CU {width:155px; height:97px; background-position: -630px -1870px}
.CV {width:155px; height:97px; background-position: -630px -1771px}
.CW {width:155px; height:104px; background-position: -2px -573px}
.CX {width:161px; height:93px; background-position: -1080px -2px}
.CY {width:155px; height:97px; background-position: -630px -1672px}
.CZ {width:155px; height:99px; background-position: -159px -691px}
.DE {width:155px; height:97px; background-position: -630px -1573px}
.DJ {width:155px; height:98px; background-position: -1101px -482px}
.DK {width:155px; height:96px; background-position: -1101px -1370px}
.DM {width:155px; height:98px; background-position: -944px -482px}
.DO {width:155px; height:99px; background-position: -159px -590px}
.DZ {width:155px; height:99px; background-position: -159px -489px}
.EC {width:155px; height:95px; background-position: -1258px -1854px}
.EE {width:155px; height:96px; background-position: -1101px -1272px}
.EG {width:155px; height:97px; background-position: -630px -1474px}
.EH {width:159px; height:93px; background-position: -1769px -97px}
.ER {width:155px; height:95px; background-position: -1258px -1757px}
.ES {width:155px; height:98px; background-position: -787px -482px}
.ET {width:155px; height:98px; background-position: -630px -482px}
.FI {width:155px; height:95px; background-position: -1258px -1660px}
.FJ {width:157px; height:93px; background-position: -1432px -287px}
.FK {width:158px; height:93px; background-position: -636px -287px}
.FM {width:155px; height:97px; background-position: -630px -1375px}
.FO {width:158px; height:93px; background-position: -476px -287px}
.FR {width:155px; height:98px; background-position: -473px -482px}
.GA {width:159px; height:93px; background-position: -1608px -97px}
.GB {width:155px; height:98px; background-position: -316px -1882px}
.GD {width:155px; height:96px; background-position: -1886px -1174px}
.GE {width:155px; height:96px; background-position: -1729px -1174px}
.GF {width:155px; height:103px; background-position: -2px -784px}
.GG {width:158px; height:93px; background-position: -316px -287px}
.GH {width:155px; height:98px; background-position: -316px -1782px}
.GI {width:159px; height:93px; background-position: -1447px -97px}
.GL {width:158px; height:93px; background-position: -1760px -192px}
.GM {width:155px; height:95px; background-position: -1258px -1563px}
.GN {width:155px; height:96px; background-position: -1572px -1174px}
.GP {width:155px; height:103px; background-position: -2px -679px}
.GQ {width:155px; height:98px; background-position: -316px -1682px}
.GR {width:155px; height:96px; background-position: -1415px -1174px}
.GS {width:157px; height:93px; background-position: -1273px -287px}
.GT {width:155px; height:98px; background-position: -316px -1582px}
.GU {width:158px; height:93px; background-position: -1600px -192px}
.GW {width:155px; height:98px; background-position: -316px -1482px}
.GY {width:155px; height:97px; background-position: -630px -1276px}
.HK {width:158px; height:93px; background-position: -1440px -192px}
.HM {width:161px; height:93px; background-position: -1406px -2px}
.HN {width:155px; height:97px; background-position: -630px -1177px}
.HR {width:155px; height:98px; background-position: -316px -1382px}
.HT {width:155px; height:96px; background-position: -1258px -1174px}
.HU {width:155px; height:96px; background-position: -1101px -1174px}
.ID {width:155px; height:96px; background-position: -1886px -1076px}
.IE {width:155px; height:95px; background-position: -1258px -1466px}
.IL {width:155px; height:96px; background-position: -1729px -1076px}
.IM {width:155px; height:98px; background-position: -316px -1282px}
.IN {width:155px; height:94px; background-position: -1886px -1562px}
.IO {width:158px; height:93px; background-position: -1280px -192px}
.IQ {width:155px; height:97px; background-position: -630px -1078px}
.IR {width:155px; height:97px; background-position: -630px -979px}
.IS {width:155px; height:98px; background-position: -316px -1182px}
.IT {width:155px; height:96px; background-position: -1572px -1076px}
.JE {width:155px; height:100px; background-position: -2px -1093px}
.JM {width:155px; height:96px; background-position: -1415px -1076px}
.JO {width:155px; height:97px; background-position: -630px -880px}
.JP {width:155px; height:95px; background-position: -1886px -1369px}
.KE {width:155px; height:97px; background-position: -473px -1870px}
.KG {width:155px; height:96px; background-position: -1258px -1076px}
.KH {width:155px; height:95px; background-position: -1729px -1369px}
.KI {width:155px; height:96px; background-position: -1101px -1076px}
.KM {width:155px; height:98px; background-position: -316px -1082px}
.KN {width:155px; height:96px; background-position: -944px -1860px}
.KP {width:155px; height:97px; background-position: -473px -1771px}
.KR {width:155px; height:99px; background-position: -159px -388px}
.KW {width:155px; height:97px; background-position: -473px -1672px}
.KY {width:155px; height:98px; background-position: -316px -982px}
.KZ {width:155px; height:97px; background-position: -473px -1573px}
.LA {width:155px; height:95px; background-position: -1572px -1369px}
.LB {width:155px; height:97px; background-position: -473px -1474px}
.LC {width:155px; height:95px; background-position: -1415px -1369px}
.LI {width:155px; height:98px; background-position: -316px -882px}
.LK {width:187px; height:93px; background-position: -199px -2px}
.LR {width:155px; height:98px; background-position: -316px -782px}
.LS {width:155px; height:97px; background-position: -473px -1375px}
.LT {width:155px; height:97px; background-position: -473px -1276px}
.LU {width:155px; height:100px; background-position: -2px -991px}
.LV {width:155px; height:96px; background-position: -944px -1762px}
.LY {width:155px; height:98px; background-position: -316px -682px}
.MA {width:155px; height:98px; background-position: -316px -582px}
.MC {width:155px; height:98px; background-position: -316px -482px}
.MD {width:155px; height:96px; background-position: -944px -1664px}
.ME {width:155px; height:98px; background-position: -1886px -382px}
.MF {width:158px; height:93px; background-position: -1120px -192px}
.MG {width:155px; height:96px; background-position: -944px -1566px}
.MH {width:155px; height:97px; background-position: -473px -1177px}
.MK {width:155px; height:98px; background-position: -1729px -382px}
.ML {width:155px; height:97px; background-position: -473px -1078px}
.MM {width:155px; height:98px; background-position: -1572px -382px}
.MN {width:155px; height:96px; background-position: -944px -1468px}
.MO {width:158px; height:93px; background-position: -960px -192px}
.MP {width:158px; height:93px; background-position: -800px -192px}
.MQ {width:155px; height:105px; background-position: -2px -254px}
.MR {width:155px; height:96px; background-position: -944px -1370px}
.MS {width:158px; height:93px; background-position: -640px -192px}
.MT {width:155px; height:97px; background-position: -473px -979px}
.MU {width:155px; height:98px; background-position: -1415px -382px}
.MV {width:155px; height:97px; background-position: -473px -880px}
.MW {width:155px; height:97px; background-position: -1886px -780px}
.MX {width:155px; height:98px; background-position: -1258px -382px}
.MY {width:155px; height:97px; background-position: -1729px -780px}
.MZ {width:155px; height:96px; background-position: -944px -1272px}
.NA {width:155px; height:98px; background-position: -1101px -382px}
.NC {width:186px; height:93px; background-position: -388px -2px}
.NE {width:155px; height:99px; background-position: -159px -287px}
.NF {width:157px; height:93px; background-position: -1114px -287px}
.NG {width:155px; height:95px; background-position: -1258px -1369px}
.NI {width:155px; height:97px; background-position: -1572px -780px}
.NL {width:155px; height:96px; background-position: -1101px -1664px}
.NO {width:159px; height:93px; background-position: -159px -192px}
.NP {width:155px; height:97px; background-position: -1415px -780px}
.NR {width:155px; height:95px; background-position: -1886px -1272px}
.NU {width:158px; height:93px; background-position: -480px -192px}
.NZ {width:161px; height:93px; background-position: -917px -2px}
.OM {width:155px; height:97px; background-position: -1258px -780px}
.PA {width:155px; height:96px; background-position: -944px -1174px}
.PE {width:155px; height:97px; background-position: -1101px -780px}
.PF {width:159px; height:93px; background-position: -1286px -97px}
.PG {width:155px; height:98px; background-position: -944px -382px}
.PH {width:155px; height:97px; background-position: -944px -780px}
.PK {width:155px; height:96px; background-position: -944px -1076px}
.PL {width:155px; height:95px; background-position: -1729px -1272px}
.PM {width:158px; height:93px; background-position: -320px -192px}
.PN {width:159px; height:93px; background-position: -1125px -97px}
.PR {width:159px; height:93px; background-position: -964px -97px}
.PS {width:157px; height:93px; background-position: -955px -287px}
.PT {width:155px; height:96px; background-position: -1886px -978px}
.PW {width:155px; height:96px; background-position: -1729px -978px}
.PY {width:155px; height:95px; background-position: -1572px -1272px}
.QA {width:155px; height:96px; background-position: -1572px -978px}
.RE {width:155px; height:94px; background-position: -1886px -1466px}
.RO {width:155px; height:99px; background-position: -2px -1904px}
.RS {width:155px; height:97px; background-position: -630px -781px}
.RU {width:155px; height:98px; background-position: -787px -382px}
.RW {width:155px; height:97px; background-position: -473px -781px}
.SA {width:155px; height:97px; background-position: -787px -780px}
.SB {width:155px; height:97px; background-position: -1886px -681px}
.SC {width:155px; height:100px; background-position: -2px -889px}
.SD {width:155px; height:97px; background-position: -1729px -681px}
.SE {width:155px; height:96px; background-position: -1415px -978px}
.SG {width:155px; height:99px; background-position: -2px -1803px}
.SH {width:157px; height:93px; background-position: -796px -287px}
.SI {width:155px; height:98px; background-position: -630px -382px}
.SJ {width:159px; height:93px; background-position: -159px -192px}
.SK {width:155px; height:96px; background-position: -1258px -978px}
.SL {width:155px; height:97px; background-position: -1572px -681px}
.SM {width:155px; height:97px; background-position: -1415px -681px}
.SN {width:155px; height:97px; background-position: -1258px -681px}
.SO {width:155px; height:96px; background-position: -1101px -978px}
.SR {width:159px; height:93px; background-position: -803px -97px}
.SS {width:155px; height:98px; background-position: -473px -382px}
.ST {width:155px; height:98px; background-position: -316px -382px}
.SV {width:155px; height:96px; background-position: -944px -978px}
.SX {width:158px; height:93px; background-position: -1120px -192px}
.SY {width:155px; height:97px; background-position: -1101px -681px}
.SZ {width:155px; height:96px; background-position: -787px -1866px}
.TC {width:159px; height:93px; background-position: -642px -97px}
.TD {width:155px; height:97px; background-position: -944px -681px}
.TF {width:159px; height:93px; background-position: -481px -97px}
.TG {width:155px; height:97px; background-position: -630px -682px}
.TH {width:155px; height:98px; background-position: -159px -1896px}
.TJ {width:155px; height:98px; background-position: -159px -1796px}
.TK {width:159px; height:93px; background-position: -320px -97px}
.TL {width:155px; height:98px; background-position: -159px -1696px}
.TM {width:155px; height:97px; background-position: -473px -682px}
.TN {width:155px; height:99px; background-position: -2px -1702px}
.TO {width:155px; height:96px; background-position: -787px -1768px}
.TR {width:155px; height:98px; background-position: -159px -1596px}
.TT {width:155px; height:98px; background-position: -159px -1496px}
.TV {width:169px; height:93px; background-position: -576px -2px}
.TW {width:155px; height:97px; background-position: -787px -681px}
.TZ {width:155px; height:97px; background-position: -1886px -582px}
.UA {width:155px; height:98px; background-position: -159px -1396px}
.UG {width:155px; height:99px; background-position: -2px -1601px}
.UM {width:155px; height:98px; background-position: -159px -1296px}
.US {width:155px; height:98px; background-position: -159px -1296px}
.UY {width:155px; height:97px; background-position: -1729px -582px}
.UZ {width:155px; height:96px; background-position: -787px -1670px}
.VA {width:155px; height:155px; background-position: -2px -97px}
.VC {width:155px; height:98px; background-position: -159px -1196px}
.VE {width:155px; height:95px; background-position: -1415px -1272px}
.VG {width:159px; height:93px; background-position: -159px -97px}
.VI {width:159px; height:93px; background-position: -1731px -2px}
.VN {width:155px; height:95px; background-position: -1258px -1272px}
.VU {width:155px; height:97px; background-position: -1572px -582px}
.WF {width:155px; height:104px; background-position: -2px -467px}
.WS {width:155px; height:99px; background-position: -2px -1500px}
.YE {width:155px; height:97px; background-position: -1415px -582px}
.YT {width:155px; height:104px; background-position: -2px -361px}
.ZA {width:155px; height:96px; background-position: -787px -1572px}
.ZM {width:155px; height:97px; background-position: -1258px -582px}
.ZW {width:155px; height:97px; background-position: -1101px -582px}
