/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:5ddb8b6146d221229275a37bcdc01c3f$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(iso3166-1-249.png);}

.AD {width:155px; height:99px; background-position: -2px -1399px}
.AE {width:195px; height:93px; background-position: -2px -2px}
.AF {width:155px; height:97px; background-position: -316px -1281px}
.AG {width:155px; height:97px; background-position: -316px -1182px}
.AI {width:155px; height:93px; background-position: -1258px -1953px}
.AL {width:155px; height:98px; background-position: -316px -1082px}
.AM {width:155px; height:99px; background-position: -159px -1095px}
.AN {width:158px; height:93px; background-position: -320px -192px}
.AO {width:155px; height:99px; background-position: -159px -994px}
.AQ {width:155px; height:93px; background-position: -1415px -1948px}
.AR {width:155px; height:97px; background-position: -787px -1573px}
.AS {width:156px; height:93px; background-position: -473px -382px}
.AT {width:155px; height:97px; background-position: -787px -1474px}
.AU {width:161px; height:93px; background-position: -1406px -2px}
.AW {width:155px; height:98px; background-position: -316px -982px}
.AX {width:155px; height:93px; background-position: -1415px -1853px}
.AZ {width:155px; height:98px; background-position: -316px -882px}
.BA {width:155px; height:98px; background-position: -316px -782px}
.BB {width:155px; height:97px; background-position: -787px -1375px}
.BD {width:155px; height:95px; background-position: -1415px -1564px}
.BE {width:155px; height:97px; background-position: -787px -1276px}
.BF {width:155px; height:95px; background-position: -1258px -1856px}
.BG {width:155px; height:96px; background-position: -1258px -1273px}
.BH {width:155px; height:97px; background-position: -787px -1177px}
.BI {width:155px; height:96px; background-position: -1101px -1861px}
.BJ {width:155px; height:97px; background-position: -787px -1078px}
.BL {width:156px; height:93px; background-position: -1751px -287px}
.BM {width:155px; height:97px; background-position: -787px -979px}
.BN {width:155px; height:98px; background-position: -1886px -582px}
.BO {width:155px; height:99px; background-position: -159px -893px}
.BQ {width:155px; height:96px; background-position: -1101px -1763px}
.BR {width:155px; height:97px; background-position: -1886px -880px}
.BS {width:155px; height:100px; background-position: -2px -1297px}
.BT {width:155px; height:97px; background-position: -1729px -880px}
.BV {width:159px; height:93px; background-position: -159px -192px}
.BW {width:155px; height:98px; background-position: -1729px -582px}
.BY {width:168px; height:93px; background-position: -747px -2px}
.BZ {width:155px; height:98px; background-position: -1572px -582px}
.CA {width:155px; height:97px; background-position: -1572px -880px}
.CC {width:155px; height:100px; background-position: -2px -1195px}
.CD {width:155px; height:96px; background-position: -1101px -1665px}
.CF {width:155px; height:99px; background-position: -159px -792px}
.CG {width:155px; height:97px; background-position: -1415px -880px}
.CH {width:155px; height:97px; background-position: -1258px -880px}
.CI {width:161px; height:93px; background-position: -1243px -2px}
.CK {width:160px; height:93px; background-position: -1569px -2px}
.CL {width:155px; height:97px; background-position: -1101px -880px}
.CM {width:155px; height:95px; background-position: -1258px -1759px}
.CN {width:155px; height:96px; background-position: -1101px -1567px}
.CO {width:155px; height:95px; background-position: -1258px -1662px}
.CR {width:155px; height:97px; background-position: -944px -880px}
.CU {width:155px; height:97px; background-position: -787px -880px}
.CV {width:155px; height:97px; background-position: -1886px -781px}
.CW {width:155px; height:104px; background-position: -2px -573px}
.CX {width:161px; height:93px; background-position: -1080px -2px}
.CY {width:155px; height:97px; background-position: -1729px -781px}
.CZ {width:155px; height:99px; background-position: -159px -691px}
.DE {width:155px; height:97px; background-position: -1572px -781px}
.DJ {width:155px; height:98px; background-position: -1415px -582px}
.DK {width:155px; height:96px; background-position: -1101px -1469px}
.DM {width:155px; height:98px; background-position: -1258px -582px}
.DO {width:155px; height:99px; background-position: -159px -590px}
.DZ {width:155px; height:99px; background-position: -159px -489px}
.EC {width:155px; height:95px; background-position: -1258px -1565px}
.EE {width:155px; height:96px; background-position: -1101px -1371px}
.EG {width:155px; height:97px; background-position: -1415px -781px}
.EH {width:159px; height:93px; background-position: -1769px -97px}
.ER {width:155px; height:95px; background-position: -1886px -1467px}
.ES {width:155px; height:98px; background-position: -1101px -582px}
.ET {width:155px; height:98px; background-position: -944px -582px}
.FI {width:155px; height:95px; background-position: -1729px -1467px}
.FJ {width:157px; height:93px; background-position: -1592px -287px}
.FK {width:158px; height:93px; background-position: -796px -287px}
.FM {width:155px; height:97px; background-position: -1258px -781px}
.FO {width:158px; height:93px; background-position: -636px -287px}
.FR {width:155px; height:98px; background-position: -787px -582px}
.GA {width:159px; height:93px; background-position: -1608px -97px}
.GB {width:155px; height:98px; background-position: -316px -682px}
.GD {width:155px; height:96px; background-position: -1101px -1273px}
.GE {width:155px; height:96px; background-position: -1886px -1175px}
.GF {width:155px; height:103px; background-position: -2px -784px}
.GG {width:158px; height:93px; background-position: -476px -287px}
.GH {width:155px; height:98px; background-position: -473px -677px}
.GI {width:159px; height:93px; background-position: -1447px -97px}
.GL {width:158px; height:93px; background-position: -316px -287px}
.GM {width:155px; height:95px; background-position: -1572px -1467px}
.GN {width:155px; height:96px; background-position: -1729px -1175px}
.GP {width:155px; height:103px; background-position: -2px -679px}
.GQ {width:155px; height:98px; background-position: -630px -582px}
.GR {width:155px; height:96px; background-position: -1572px -1175px}
.GS {width:157px; height:93px; background-position: -1433px -287px}
.GT {width:155px; height:98px; background-position: -1886px -482px}
.GU {width:158px; height:93px; background-position: -1760px -192px}
.GW {width:155px; height:98px; background-position: -1729px -482px}
.GY {width:155px; height:97px; background-position: -1101px -781px}
.HK {width:158px; height:93px; background-position: -1600px -192px}
.HM {width:161px; height:93px; background-position: -1406px -2px}
.HN {width:155px; height:97px; background-position: -944px -781px}
.HR {width:155px; height:98px; background-position: -1572px -482px}
.HT {width:155px; height:96px; background-position: -1415px -1175px}
.HU {width:155px; height:96px; background-position: -1258px -1175px}
.ID {width:155px; height:96px; background-position: -1101px -1175px}
.IE {width:155px; height:95px; background-position: -1258px -1468px}
.IL {width:155px; height:96px; background-position: -1886px -1077px}
.IM {width:155px; height:98px; background-position: -1415px -482px}
.IN {width:155px; height:94px; background-position: -1415px -1757px}
.IO {width:158px; height:93px; background-position: -1440px -192px}
.IQ {width:155px; height:97px; background-position: -787px -781px}
.IR {width:155px; height:97px; background-position: -630px -1870px}
.IS {width:155px; height:98px; background-position: -1258px -482px}
.IT {width:155px; height:96px; background-position: -1729px -1077px}
.JE {width:155px; height:100px; background-position: -2px -1093px}
.JM {width:155px; height:96px; background-position: -1572px -1077px}
.JO {width:155px; height:97px; background-position: -630px -1771px}
.JP {width:155px; height:95px; background-position: -1415px -1467px}
.KE {width:155px; height:97px; background-position: -630px -1672px}
.KG {width:155px; height:96px; background-position: -1415px -1077px}
.KH {width:155px; height:95px; background-position: -1886px -1370px}
.KI {width:155px; height:96px; background-position: -1258px -1077px}
.KM {width:155px; height:98px; background-position: -1101px -482px}
.KN {width:155px; height:96px; background-position: -1101px -1077px}
.KP {width:155px; height:97px; background-position: -630px -1573px}
.KR {width:155px; height:99px; background-position: -159px -388px}
.KW {width:155px; height:97px; background-position: -630px -1474px}
.KY {width:155px; height:98px; background-position: -944px -482px}
.KZ {width:155px; height:97px; background-position: -630px -1375px}
.LA {width:155px; height:95px; background-position: -1729px -1370px}
.LB {width:155px; height:97px; background-position: -630px -1276px}
.LC {width:155px; height:95px; background-position: -1572px -1370px}
.LI {width:155px; height:98px; background-position: -787px -482px}
.LK {width:187px; height:93px; background-position: -199px -2px}
.LR {width:155px; height:98px; background-position: -316px -582px}
.LS {width:155px; height:97px; background-position: -630px -1177px}
.LT {width:155px; height:97px; background-position: -630px -1078px}
.LU {width:155px; height:100px; background-position: -2px -991px}
.LV {width:155px; height:96px; background-position: -944px -1861px}
.LY {width:155px; height:98px; background-position: -473px -577px}
.MA {width:155px; height:98px; background-position: -630px -482px}
.MC {width:155px; height:98px; background-position: -1887px -382px}
.MD {width:155px; height:96px; background-position: -944px -1763px}
.ME {width:155px; height:98px; background-position: -1730px -382px}
.MF {width:158px; height:93px; background-position: -1280px -192px}
.MG {width:155px; height:96px; background-position: -944px -1665px}
.MH {width:155px; height:97px; background-position: -630px -979px}
.MK {width:155px; height:98px; background-position: -1573px -382px}
.ML {width:155px; height:97px; background-position: -630px -880px}
.MM {width:155px; height:98px; background-position: -1416px -382px}
.MN {width:155px; height:96px; background-position: -944px -1567px}
.MO {width:158px; height:93px; background-position: -1120px -192px}
.MP {width:158px; height:93px; background-position: -960px -192px}
.MQ {width:155px; height:105px; background-position: -2px -254px}
.MR {width:155px; height:96px; background-position: -944px -1469px}
.MS {width:158px; height:93px; background-position: -800px -192px}
.MT {width:155px; height:97px; background-position: -630px -781px}
.MU {width:155px; height:98px; background-position: -1259px -382px}
.MV {width:155px; height:97px; background-position: -1886px -682px}
.MW {width:155px; height:97px; background-position: -1729px -682px}
.MX {width:155px; height:98px; background-position: -1102px -382px}
.MY {width:155px; height:97px; background-position: -1572px -682px}
.MZ {width:155px; height:96px; background-position: -944px -1371px}
.NA {width:155px; height:98px; background-position: -945px -382px}
.NC {width:186px; height:93px; background-position: -388px -2px}
.NE {width:155px; height:99px; background-position: -159px -287px}
.NF {width:157px; height:93px; background-position: -1274px -287px}
.NG {width:155px; height:95px; background-position: -1258px -1371px}
.NI {width:155px; height:97px; background-position: -1415px -682px}
.NL {width:155px; height:96px; background-position: -1101px -1763px}
.NO {width:159px; height:93px; background-position: -159px -192px}
.NP {width:155px; height:97px; background-position: -1258px -682px}
.NR {width:155px; height:95px; background-position: -1415px -1370px}
.NU {width:158px; height:93px; background-position: -640px -192px}
.NZ {width:161px; height:93px; background-position: -917px -2px}
.OM {width:155px; height:97px; background-position: -1101px -682px}
.PA {width:155px; height:96px; background-position: -944px -1273px}
.PE {width:155px; height:97px; background-position: -944px -682px}
.PF {width:159px; height:93px; background-position: -1286px -97px}
.PG {width:155px; height:98px; background-position: -788px -382px}
.PH {width:155px; height:97px; background-position: -787px -682px}
.PK {width:155px; height:96px; background-position: -944px -1175px}
.PL {width:155px; height:95px; background-position: -1886px -1273px}
.PM {width:158px; height:93px; background-position: -480px -192px}
.PN {width:159px; height:93px; background-position: -1125px -97px}
.PR {width:159px; height:93px; background-position: -964px -97px}
.PS {width:157px; height:93px; background-position: -1115px -287px}
.PT {width:155px; height:96px; background-position: -944px -1077px}
.PW {width:155px; height:96px; background-position: -1886px -979px}
.PY {width:155px; height:95px; background-position: -1729px -1273px}
.QA {width:155px; height:96px; background-position: -1729px -979px}
.RE {width:155px; height:94px; background-position: -1415px -1661px}
.RO {width:155px; height:99px; background-position: -2px -1904px}
.RS {width:155px; height:97px; background-position: -630px -682px}
.RU {width:155px; height:98px; background-position: -316px -482px}
.RW {width:155px; height:97px; background-position: -473px -1866px}
.SA {width:155px; height:97px; background-position: -473px -1767px}
.SB {width:155px; height:97px; background-position: -473px -1668px}
.SC {width:155px; height:100px; background-position: -2px -889px}
.SD {width:155px; height:97px; background-position: -473px -1569px}
.SE {width:155px; height:96px; background-position: -1572px -979px}
.SG {width:155px; height:99px; background-position: -2px -1803px}
.SH {width:157px; height:93px; background-position: -956px -287px}
.SI {width:155px; height:98px; background-position: -473px -477px}
.SJ {width:159px; height:93px; background-position: -159px -192px}
.SK {width:155px; height:96px; background-position: -1415px -979px}
.SL {width:155px; height:97px; background-position: -473px -1470px}
.SM {width:155px; height:97px; background-position: -473px -1371px}
.SN {width:155px; height:97px; background-position: -473px -1272px}
.SO {width:155px; height:96px; background-position: -1258px -979px}
.SR {width:159px; height:93px; background-position: -803px -97px}
.SS {width:155px; height:98px; background-position: -631px -382px}
.ST {width:155px; height:98px; background-position: -316px -382px}
.SV {width:155px; height:96px; background-position: -1101px -979px}
.SX {width:158px; height:93px; background-position: -1280px -192px}
.SY {width:155px; height:97px; background-position: -473px -1173px}
.SZ {width:155px; height:96px; background-position: -944px -979px}
.TC {width:159px; height:93px; background-position: -642px -97px}
.TD {width:155px; height:97px; background-position: -473px -1074px}
.TF {width:159px; height:93px; background-position: -481px -97px}
.TG {width:155px; height:97px; background-position: -473px -975px}
.TH {width:155px; height:98px; background-position: -159px -1896px}
.TJ {width:155px; height:98px; background-position: -159px -1796px}
.TK {width:159px; height:93px; background-position: -320px -97px}
.TL {width:155px; height:98px; background-position: -159px -1696px}
.TM {width:155px; height:97px; background-position: -473px -876px}
.TN {width:155px; height:99px; background-position: -2px -1702px}
.TO {width:155px; height:96px; background-position: -787px -1868px}
.TR {width:155px; height:98px; background-position: -159px -1596px}
.TT {width:155px; height:98px; background-position: -159px -1496px}
.TV {width:169px; height:93px; background-position: -576px -2px}
.TW {width:155px; height:97px; background-position: -473px -777px}
.TZ {width:155px; height:97px; background-position: -316px -1875px}
.UA {width:155px; height:98px; background-position: -159px -1396px}
.UG {width:155px; height:99px; background-position: -2px -1601px}
.UM {width:155px; height:98px; background-position: -159px -1296px}
.US {width:155px; height:98px; background-position: -159px -1296px}
.UY {width:155px; height:97px; background-position: -316px -1776px}
.UZ {width:155px; height:96px; background-position: -787px -1770px}
.VA {width:155px; height:155px; background-position: -2px -97px}
.VC {width:155px; height:98px; background-position: -159px -1196px}
.VE {width:155px; height:95px; background-position: -1572px -1273px}
.VG {width:159px; height:93px; background-position: -159px -97px}
.VI {width:159px; height:93px; background-position: -1731px -2px}
.VN {width:155px; height:95px; background-position: -1415px -1273px}
.VU {width:155px; height:97px; background-position: -316px -1677px}
.WF {width:155px; height:104px; background-position: -2px -467px}
.WS {width:155px; height:99px; background-position: -2px -1500px}
.YE {width:155px; height:97px; background-position: -316px -1578px}
.YT {width:155px; height:104px; background-position: -2px -361px}
.ZA {width:155px; height:96px; background-position: -787px -1672px}
.ZM {width:155px; height:97px; background-position: -316px -1479px}
.ZW {width:155px; height:97px; background-position: -316px -1380px}
